# Dependencies
node_modules/

# Typescript build output
dist/
build/

# Typescript cache
*.tsbuildinfo

# Environment Variables 
.env
.env.local
.env.development
.env.production

# IDE
.vscode/
.idea/

# ES lint cache 
.eslintcache